doctype html
html
	head
		title="Login amuba"
	body
		h1 Login amuba
		form(method="GET", action="/game")
			p Username:
				input(type="text",id="uname",name="uname")
			p
				input(type="button",value="Play!")