* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */ }

body {
  padding: 0px;
  margin: 0px;
  font: 14px Arial, sans-serif;
  background-color: #045a64;
  overflow: hidden; }
  body .game-body {
    position: absolute;
    display: block; }
    body .game-body .board, body .game-body .stats {
      display: inline-block;
      height: 100%;
      vertical-align: top; }
    body .game-body .board {
      width: 70%;
      background-color: black;
      border: 5px solid black; }
      body .game-body .board .field {
        background-color: #a0a078;
        border: 1px solid black;
        display: inline-block;
        vertical-align: top;
        margin: 0px;
        padding: 0px;
        cursor: pointer;
        transition: background 0.2s;
        background-size: 110%;
        background-repeat: no-repeat;
        background-position: center; }
        body .game-body .board .field:hover {
          background-color: rgba(160, 160, 120, 0.7); }
        body .game-body .board .field.O, body .game-body .board .field.X {
          background-size: 80%; }
          body .game-body .board .field.O:hover, body .game-body .board .field.X:hover {
            background-color: #a0a078; }
        body .game-body .board .field.O {
          background-image: url("../images/O.png"); }
        body .game-body .board .field.X {
          background-image: url("../images/X.png"); }
        body .game-body .board .field.W, body .game-body .board .field.L {
          background-color: yellow; }
          body .game-body .board .field.W:hover, body .game-body .board .field.L:hover {
            background-color: yellow; }
    body .game-body .stats {
      background-color: #e0e0a8;
      width: 30%; }
      body .game-body .stats .players {
        margin: 10px;
        margin-bottom: 30px;
        border: 5px solid black; }
        body .game-body .stats .players .playerX, body .game-body .stats .players .playerO {
          transition: background 0.3s;
          padding: 10px 15px; }
          body .game-body .stats .players .playerX:first-child, body .game-body .stats .players .playerO:first-child {
            border-bottom: 3px solid black; }
          body .game-body .stats .players .playerX.next, body .game-body .stats .players .playerO.next {
            background-color: rgba(6, 135, 150, 0.5);
            color: white; }
            body .game-body .stats .players .playerX.next .name, body .game-body .stats .players .playerO.next .name {
              font-weight: bold; }
          body .game-body .stats .players .playerX > .name, body .game-body .stats .players .playerO > .name {
            display: inline-block;
            width: 80%;
            font-size: 20px;
            position: relative;
            top: -11px; }
            body .game-body .stats .players .playerX > .name:before, body .game-body .stats .players .playerO > .name:before {
              content: "";
              display: inline-block;
              width: 50px;
              height: 50px;
              background-size: 100%;
              background-repeat: no-repeat;
              background-position: center;
              margin-right: 15px;
              position: relative;
              top: 15px; }
          body .game-body .stats .players .playerX > .points, body .game-body .stats .players .playerO > .points {
            display: inline-block;
            font-size: 35px;
            position: relative;
            top: -8px; }
        body .game-body .stats .players .playerX .name:before {
          background-image: url("../images/X.png"); }
        body .game-body .stats .players .playerO .name:before {
          background-image: url("../images/O.png"); }

/*# sourceMappingURL=game.css.map */